* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(80, 34, 34);
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.urna {
    background-color: rgb(224, 224, 224);
    width: 65%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 1em;
    padding: 0 1em;
}

.tela {
    border: 2px solid black;
    width: 60%;
    height: 80%;
}

.entrada {
    height: 80%;
    width: 40%;
    background-color: rgb(56, 56, 56);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-top: 2%;
}

.botoes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    height: 60%;
    grid-column-gap: 10px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.botao {
    background-color: rgb(20, 20, 20);
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    height: 40px;
    border: none;
    box-shadow: 2px 4px 3px rgb(0, 0, 0);
    cursor: pointer;
}

.botao-0 {
    grid-column-start: 2;
}

.opcoes {
    width: 80%;
    height: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    grid-column-gap: 8px;
}

.opcao {
    font-size: 1rem;
    font-weight: 700;
    height: 40px;
    border: none;
    cursor: pointer;
}

#op-branco {
    background-color: white;
}

#op-corrige {
    background-color:orangered;
}

#op-confirma {
    background-color: rgb(15, 189, 30);
    height: 55px;
}
@media screen and (max-width: 600px) {
    .urna {
        height: 60%;
        width: 98%;
        gap: 0.5em;
        padding: 0 .4em;
    }

    .tela {
        width: 50%;
    }

    .entrada {
        width: 50%;
    }

    .opcoes {
        grid-template-columns: 1fr 1fr;
    }

    #op-confirma {
        grid-column: span 2;
    }
}